$dark-theme: (
    main-bg:rgba(0, 0, 0, 0.5),
    sub-bg:rgba(255, 255, 255, 0.5),
    // 
    base-color-01:white,
    base-color-02:black,
    main-font-color: white,
    sub-font-color:black,
    nav-bg:rgba(0, 0, 0, 0.3),
    nav-border-color:rgba(255, 255, 255, 0.3),
    nav-option-bg:rgba(255, 255, 255, 0.3),
    nav-option-font-color:black,
    // 
    profile-card-bg:rgba(0, 0, 0, 0.3),
    profile-card-body-bg:rgba(0, 0, 0, 0.5),
    profile-card-logo-bg:rgba(255, 255, 255, 0.25),
    profile-card-logo-border-color:rgba(255, 255, 255, 0.1),
    profile-card-motto-font-color:rgb(199, 196, 196),
    profile-card-intro-font-color:white,
    profile-card-social-links-bg:aliceblue,
    profile-card-social-links-font-color:black,
    profile-card-social-links-font-color-hover:#0056b3,
    // 
    danmaku-wall-bg:rgba(0, 0, 0, 0.3),
    danmaku-wall-bg-in:rgba(0, 0, 0, 0.4),
    // 
    cd-bg:rgba(0, 0, 0, 0.3),
    cd-bg-in:rgba(0, 0, 0, 0.4),
    // 
    card-post-bg:rgba(0, 0, 0, 0.5),
    // 
    page-posts-nav-bg:rgba(0, 0, 0, 0.3),
    page-posts-nav-border:rgba(255, 255, 255, 0.3),
    page-posts-nav-font-color:#999,
    // 
    page-moments-border: rgba(255, 255, 255, 0.3),
    page-moments-chip-bg: rgba(255, 255, 255, 0.3),
    page-moments-chip-font-color: white,
    page-moments-chip-bg-active: rgb(60, 60, 107),
    page-moments-chip-border: rgba(255, 255, 255, 0.3),
    page-moments-card-text-only-bg:rgba(0, 0, 0, 0.3),
    page-moments-card-text-only-font-color:aliceblue,
    page-moments-card-text-only-more-color:rgb(99, 214, 214),
    // 
    page-sites-top-bg:rgba(0, 0, 0, 0.3),

    )