$hone-theme: (
    primary: #42b883,
    bg-color: rgba(0, 0, 0, 0.5),
    bg-color-2: rgba(0, 0, 0, 0.6),
    bg-base-color:(0, 0, 0),
    bg-base-color-2:(255, 255, 255),
    card-post-bg-color: rgba(0, 0, 0, 0.3),
    page-site-bg-color: rgba(0, 0, 0, 0.7),
    page-site-bg-color-top: rgba(0, 0, 0, 0.1),

    post-detail-head-tag: rgba(0, 0, 0, 0.6),
    post-detail-head-tag-text: white,
    // card-post-bg-color: rgba(255, 255, 255, 0.1),

    font-color: rgb(219, 210, 210),
    icon-color:rgb(10, 10, 10),
    glass-bg: rgba(0, 0, 0, .1),
    text-hover-color: rgba(77, 163, 255),
    text: #333333,
    border: #e5e5e5
);