.markdown-body {

    .md-link {
        display: inline-flex;
        align-items: center;
        gap: 4px;

        color: #4d6bfe;
        text-decoration: none;

        transition: all 0.2s;

        &:hover {
            opacity: 0.8;
        }
    }

    .md-link-icon {
        width: 14px;
        height: 14px;

        border-radius: 3px;

        flex-shrink: 0;

        transform: translateY(1px);
    }
}